.home {
    .hero {
        overflow: hidden;
        background: $--black;
        color: $--white;
        margin-bottom: 5em;
        -webkit-border-radius: 0 0 0 100px;
        -moz-border-radius: 0 0 0 100px;
        -ms-border-radius: 0 0 0 100px;
        -o-border-radius: 0 0 0 100px;
        border-radius: 0 0 0 100px;
        padding-top: 3em;
        .hero-container {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr;

        .col-1 {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            h1 {
                font-size: clamp(2rem, -1.2rem + 12.8vw, 10rem);
                letter-spacing: 3px;
                font-weight: 500;
            }
            span {
                color: $--accent;
                margin-left: 1em;
            }
            .call {
                font-family: $--ff-body;
                font-weight: 700;
                letter-spacing: 3px;
            }
            @media screen and (width<=768px){
               align-items: center;
            }
        }
        .col-2 {
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $--white;
                font-family: $--ff-body;
                font-size: clamp(1.2rem, 1.5vw, 2.5rem);
                font-weight: 500;
                z-index: 0;
                content: 'the web is what we do!';
                width: 70%;
                height: 30%;
                background: rgb(141, 52, 52);
                position: absolute;
                bottom: -2.5rem;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                -webkit-border-radius: 8em 8em 0 0 ;
                -moz-border-radius: 8em 8em 0 0 ;
                -ms-border-radius: 8em 8em 0 0 ;
                -o-border-radius: 8em 8em 0 0 ;
                border-radius: 8em 8em 0 0 ;
                @media screen and (max-width:500px) {
                    border-radius: 3em 3em 0 0 ;
                    -webkit-border-radius: 3em 3em 0 0 ;
                    -moz-border-radius: 3em 3em 0 0 ;
                    -ms-border-radius: 3em 3em 0 0 ;
                    -o-border-radius: 3em 3em 0 0 ;
                    padding: .3em;
}
            }
          img {
            width: 65.5%;
            -webkit-border-radius: 0 0 10% 10%;
            -moz-border-radius: 0 0 10% 10%;
            -ms-border-radius: 0 0 10% 10%;
            -o-border-radius: 0 0 10% 10%;
            border-radius: 0 0 10% 10%;
            object-fit: cover;
            @media screen and (width<=768px) {
                width: 75%;
            }
          }
        }

        @media screen and (width<=768px) {
            grid-template-columns: 1fr;
        }
       }
    }
    .about {
        margin-top: 15em;
        .container {
            margin-bottom: 4em;
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 2fr;
            .col-1 {
                h2 {
                    font-family: 'Recoleta';
                    font-style: normal;
                    font-size: 5rem;
                    font-weight: 500;
                    @media screen and (width<=768px) {
                        margin-bottom: 1em;
                    }
                }
            }
            .col-2 {
                align-self: center;
                p {
                    font-family: Proximanova, sans-serif;
                    font-size: 1.9rem;
                    font-weight: 300;
                }
            }
            @media screen and (width<=768px) {
                grid-template-columns: 1fr;
            }
        }
    }

    .services {
        margin-top: 15em;
        margin-bottom: 15em;
        .service {
            margin-top: 10em;
            margin-bottom: 10em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15rem;
            .card {
                &:nth-child(even){
                    -webkit-transform: translateY(-200px);
                    -moz-transform: translateY(-200px);
                    -ms-transform: translateY(-200px);
                    -o-transform: translateY(-200px);
                    transform: translateY(-200px);
                    
                    @media screen and (width<=768px) {
                        -webkit-transform: translateY(0);
                        -moz-transform: translateY(0);
                        -ms-transform: translateY(0);
                        -o-transform: translateY(0);
                        transform: translateY(0);
                    }
                }
            }
            @media screen and (width<=768px) {
                grid-template-columns: 1fr;
            }
        }
    }
}